<!DOCTYPE html>
<html>
<head lang="en">
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="bind">
<div class="container">
    <div class="page-header row">
        <h1>CENTER
            <small>RIGHT | LEFT</small>
        </h1>
        <!--<div class="col-md-offset-4 col-md-4">-->
            <!--<input type="text" class="form-control" maxlength="10" ng-model="enter.direction">-->
            <!--<h3 class="bg-info">{{enter.direction || "CENTER" }}</h3>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-md-4" ng-controller="LeftCtrl">
            <input type="text" class="form-control" maxlength="10" ng-model="enter.direction">
            <h3 class="bg-warning">{{enter.direction || "LEFT"}}</h3>
        </div>
        <div class="col-md-offset-4 col-md-4" ng-controller="RightCtrl">
            <input type="text" class="form-control" maxlength="10" ng-model="enter.direction">
            <h3 class="bg-success">{{enter.direction || "RIGHT"}}</h3>
        </div>
    </div>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="controllers.js"></script>
</body>
</html>
